#pix1
{
width:  50px;
height: 25px;

}

#pix2
{
    width: 50px;
    height:25px;
}

#pix3
{
    width: 50px;
    height:25px;
}

#pix4
{
    width: 50px;
    height:25px;
}

#pix5
{
    width:  50px;
    height: 25px;
}